In [1]:
import os
import pandas as pd
import numpy as np

### ESTABLECER RUTA

### CREACIÓN DE DATAFRAMES

In [7]:
df_orders = pd.read_excel('./datasets/df_orders.xlsx')
df_vehicle = pd.read_excel('./datasets/df_vehicle.xlsx')
df_location = pd.read_excel('./datasets/df_location.xlsx')
df_historic_order_demand = pd.read_excel('./datasets/df_historic_order_demand.xlsx')
df_distance_min = pd.read_excel('./datasets/df_distance_min.xlsx')
df_distance_km = pd.read_excel('./datasets/df_distance_km.xlsx')

### ANÁLISIS DESCRIPTIVO

In [9]:
df_orders['mes_anio'] = pd.to_datetime(df_orders['mes_anio'], format='%m-%Y')

In [10]:
df_orders.head(5)

     cliente   mes_anio  order_demand
0  Cliente_1 2024-12-01           909
1  Cliente_2 2024-12-01           959
2  Cliente_3 2024-12-01           960
3  Cliente_4 2024-12-01           980
4  Cliente_5 2024-12-01           979