In [11]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### ESTABLECER RUTA

### CREACIÓN DE DATAFRAMES

In [12]:
df_orders = pd.read_excel('./datasets/df_orders.xlsx')
df_vehicle = pd.read_excel('./datasets/df_vehicle.xlsx')
df_location = pd.read_excel('./datasets/df_location.xlsx')
df_historic_order_demand = pd.read_excel('./datasets/df_historic_order_demand.xlsx')
df_distance_min = pd.read_excel('./datasets/df_distance_min.xlsx')
df_distance_km = pd.read_excel('./datasets/df_distance_km.xlsx')

### ANÁLISIS DESCRIPTIVO

Lo primero determinamos cual es el objetivo a la hora de horientar nuestro modelo. Para ello determinaremos cuáles pueden ser nuestras tablas en las que apoyar todo nuestro trabajo. Para ello vemos que la tabla de orders e historic_order_demand son las más relevantes para dicho análisis.

Decidimos separar la columna de mes_año por dos columnas. Siendo estas dos mes y año.

In [13]:
df_orders.head(5)

     cliente mes_anio  order_demand
0  Cliente_1  12-2024           909
1  Cliente_2  12-2024           959
2  Cliente_3  12-2024           960
3  Cliente_4  12-2024           980
4  Cliente_5  12-2024           979

In [14]:
df_orders[['mes', 'anio']] = df_orders['mes_anio'].str.split('-', n=1, expand=True)

In [15]:
df_orders.drop('mes_anio', axis=1, inplace=True)

In [16]:
df_orders.head(5)

     cliente  order_demand mes  anio
0  Cliente_1           909  12  2024
1  Cliente_2           959  12  2024
2  Cliente_3           960  12  2024
3  Cliente_4           980  12  2024
4  Cliente_5           979  12  2024

In [17]:
df_historic_order_demand[['mes', 'anio']] = df_historic_order_demand['mes_anio'].str.split('-', n=1, expand=True)

In [18]:
df_historic_order_demand.drop('mes_anio', axis=1, inplace=True)

In [19]:
df_historic_order_demand.head(5)

     cliente  order_demand mes  anio
0  Cliente_1         857.0  12  2020
1  Cliente_2         941.0  12  2020
2  Cliente_3         878.0  12  2020
3  Cliente_4         949.0  12  2020
4  Cliente_5         932.0  12  2020

Para proceder con nuestro análisis, primero decidimos ver el histórico de pedidos, para ver cuál es el año y cuál es el mes que más pedidos han recibido.