In [1]:
import pandas as pd

df_distance_km = pd.read_excel('df_distance_km.xlsx')
df_distance_min = pd.read_excel('df_distance_min.xlsx')
df_historic = pd.read_excel('df_historic_order_demand.xlsx')
df_location = pd.read_excel('df_location.xlsx')
df_orders = pd.read_excel('df_orders.xlsx')
df_vehicle = pd.read_excel('df_vehicle.xlsx')

In [2]:
class Client():
    pass

   vehiculo_id  capacidad_kg  costo_km  autonomia_km
0            1          2026      0.20           603
1            2          4362      0.14           630
2            3          4881      0.20           664
3            4          3321      0.19           514
4            5         10000      0.32           350
5            6          3129      0.14           791